# are alma9 and centos7 the only options?
image: artifacts.ncei.noaa.gov/ncei/base:alma9
variables:
  NODE_VERSION: "v18.20.2"

stages:
  - .pre
  - build
  #- security      # Required for security scan jobs
  - artifactory   # Required for deployments. The artifacts must be saved somewhere first.
  - deploy        # Required for deployments.

setup-job:
  stage: .pre
  script:
    - curl -o node-$NODE_VERSION-linux-x64.tar.gz https://artifacts.ncei.noaa.gov:443/artifactory/node-dist/$NODE_VERSION/node-$NODE_VERSION-linux-x64.tar.gz
    - tar -xzf node-$NODE_VERSION-linux-x64.tar.gz
    - export PATH=$PATH:$PWD/node-$NODE_VERSION-linux-x64/bin
    # set up npm registry and CA certs
    - npm config set registry https://artifacts.ncei.noaa.gov/artifactory/api/npm/npm.upstream/
    - export NODE_EXTRA_CA_CERTS=/etc/pki/tls/certs/ca-bundle.crt

  # pass along to the next stage
  artifacts:
    paths:
      - node-$NODE_VERSION-linux-x64
    expire_in: 2 week

build-job:
  stage: build
  tags:
    - build
  script:
    - export PATH=$PATH:$PWD/node-$NODE_VERSION-linux-x64/bin
    - export NODE_EXTRA_CA_CERTS=/etc/pki/tls/certs/ca-bundle.crt
    - export PATH=$PATH:$PWD/node-$NODE_VERSION-linux-x64/bin
    - echo "Running build..."
    - apt-get install jq
    # WARNING: this is not an officially supported method of downloading Experience Builder
    # taken from https://github.com/gavinr-maps/experience-builder-devops-example/blob/master/.github/workflows/build-app.yml
    - curl -o exb.zip "$(curl -s 'https://downloads.arcgis.com/dms/rest/download/secured/arcgis-experience-builder-1.13.zip?f=json&folder=software%2FExperienceBuilder%2F1.13' | jq -r '.url')"
    - unzip -q exb.zip -d arcgis-experience-builder-1.13
    - cp -r widgets/* arcgis-experience-builder-1.13/ArcGISExperienceBuilder/client/your-extensions/widgets
    # TODO
    - echo "packaging..."
    # TODO
  # artifacts:
  #   paths:
  #     - imlgs.tar.gz
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH    