name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  Build-and-Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Download Experience Builder
        # WARNING: this is not an officially supported method of downloading Experience Builder
        # taken from https://github.com/gavinr-maps/experience-builder-devops-example/blob/master/.github/workflows/build-app.yml
        run: curl -o exb.zip "$(curl -s 'https://downloads.arcgis.com/dms/rest/download/secured/arcgis-experience-builder-1.15.zip?f=json&folder=software%2FExperienceBuilder%2F1.15' | jq -r '.url')"
      - name: Unzip Experience Builder
        run: unzip -q exb.zip -d arcgis-experience-builder-1.15
      - name: Copy Custom Widgets
        run: cp -r widgets/* arcgis-experience-builder-1.15/ArcGISExperienceBuilder/client/your-extensions/widgets
      - name: Create App directory
        run: mkdir public && cd public && mkdir apps && cd apps
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/server
      - name: Copy apps
        run: cp -r apps/* arcgis-experience-builder-1.15/ArcGISExperienceBuilder/server/public/apps
      - name: NPM install client folder
        run: npm ci
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/client
      - name: NPM install in server folder
        run: npm ci
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/server
      - name: install any widget dependencies
        run: |
          for d in `find . -mindepth 1 -maxdepth 1 -type d`; do
          echo $d
          cd $d
          if test -f package.json; then
          echo "installing dependencies for `pwd`..."
          npm i
          fi
          cd ..
          done
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/client/your-extensions/widgets
      - name: Build widgets
        run: npm run build:dev
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/client
      - name: Run download script
        run: node -e "require('./server/src/middlewares/dev/apps/app-download.js').zipApp('0', 'app.zip')"
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder
      - name: Unzip app zip
        # ExB has non-standard file permissions so use chmod after unzip
        run: |
          unzip -q app.zip -d app
          chmod -R 777 app
        working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder
      # - name: Generate screeenshot (optional)
      #   working-directory: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/app
      #   continue-on-error: true
      #   run: |
      #     npm install --global pageres-cli
      #     npm install --global serve
      #     echo "{\"trailingSlash\":true}" > serve.json
      #     serve . -p 5000 &
      #     pageres http://localhost:5000/index.html 1024x768 --filename=screenshot --delay=10
      - name: Deploy app zip to GH Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: arcgis-experience-builder-1.15/ArcGISExperienceBuilder/app

